:root {
    --title-font-family:'Roboto',sans-serif;
    --logo-font-family:'Aclonica',sans-serif;
    --dark-green: #2C5732;
    --medium-green: #688C4F;
    --light-green: #CAD9BA;
    --medium-purple: #A64E7E;
    --tan: #D99771;
    --light-blue: #BFD6D9; }

*{
    font-family: var(--title-font-family);
}


h1{
    font-family:var(--logo-font-family --dark-green);}

main {
    width:80%;
    text-align: center;
    margin-top: 100px;
}

button {
    font-size: 16px;
    border-radius: 10px;
    background-color:rgb(114, 232, 181);
    border:2px solid rgb(114, 232, 181);
    font-size: 20px;
    text-align: center;
}

input {
    color: rgb(3, 115, 66);
    border-radius: 10px;
    font-size: 20px;
    border:2px solid rgb(114, 232, 181);
    text-align: center; 
    outline-color: rgb(114, 232, 181);
}

ul {
    text-align: center;
    /* color: rgb(3, 115, 66);  */
}

#plantdetails {
    margin-top: 150px;
}

.columns {
    padding-left: 20px;
}

.content p {
    padding-top: 20px;
    font-weight: bolder;
    color: rgb(3, 115, 66);
}

li:hover {  
    /* background-color:rgb(114, 232, 181); */
    opacity: 0.5;
}

/* add style (zl) */

#header-top {
    margin-top: 1em;
}

#logo-small {
    font-family: var(--logo-font-family);
    color: var(--medium-green);
}

#logo-large {
    font-family: var(--logo-font-family);
    color: var(--medium-green);
}

nav a {
    color: var(--medium-green);
}

#sub-text {
    color: var(--medium-green);
}

#input-field {
    width: 30rem;
}

#search-bar-main {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

#search-btn {
    background-color: var(--medium-green);
    color: white;
    border-color: var(--medium-green);
    margin-right: 0.5rem;
}

#filter-btn {
    background-color: var(--medium-green);
    color: white;
}

#find-btn {
    background-color: var(--medium-green);
    color: white;
}

#info-plant-name-lg {
    font-family: var(--logo-font-family);
    color: var(--dark-green);
}

#info-plant-name-sm {
    font-family: var(--logo-font-family);
    color: var(--dark-green);
}

.info-subtitle {
    color: var(--dark-green);
    font-size: 1.1rem;
    font-weight: 700;
}








































/* Jenny Lines 103 to 153 */



















































/* Brian Lines 155 to 205  */



















































/* Suvarna Lines 207 to end of file*/










