:root {
    --title-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Aclonica', sans-serif;
    --dark-green: #2C5732;
    --medium-green: #688C4F;
    --light-green: #CAD9BA;
    --medium-purple: #A64E7E;
    --tan: #D99771;
    --light-blue: #BFD6D9;
}

* {
    font-family: var(--title-font-family);
}


h1 {
    font-family: var(--logo-font-family --dark-green);
}

/* main {
    width:80%;
    text-align: center;
    margin-top: 100px;
} */

/* button {
    font-size: 16px;
    border-radius: 10px;
    background-color:rgb(114, 232, 181);
    border:2px solid rgb(114, 232, 181);
    font-size: 20px;
    text-align: center;
} */

/* input {
    color: rgb(3, 115, 66);
    border-radius: 10px;
    font-size: 20px;
    border:2px solid rgb(114, 232, 181);
    text-align: center; 
    outline-color: rgb(114, 232, 181);
} */

/* ul {
    text-align: center;
    color: rgb(3, 115, 66); 
} */

/* #plantdetails {
    margin-top: 150px;
} */

/* .columns {
    padding-left: 20px;
} */

/* .content p {
    padding-top: 20px;
    font-weight: bolder;
    color: rgb(3, 115, 66);
} */

li:hover {
    /* background-color:rgb(114, 232, 181); */
    opacity: 0.5;
}

/* add style below (zl) */

#header-top {
    margin-top: 1em;
    /* margin-left: 1rem;
    margin-right: 1rem; */
}

#logo-small {
    font-family: var(--logo-font-family);
    color: var(--medium-green);
}

#logo-large {
    font-family: var(--logo-font-family);
    color: var(--medium-green);
}

nav a {
    color: var(--medium-green);
}

#sub-text {
    color: var(--medium-green);
    text-align: center;
    font-size: 100%;
}

#input-field {
    width: 35rem;
}

#search-bar-main {
    margin-top: 2rem;
}

#search-btn {
    background-color: var(--medium-green);
    color: white;
    border-color: var(--medium-green);
    margin-right: 0.5rem;
}

#filter-btn {
    background-color: var(--medium-green);
    color: white;
    border-color: var(--medium-green);
}

#find-btn {
    background-color: var(--medium-green);
    color: white;
}

/* title font family and color on plant infomation card  */
#commonname {
    font-family: var(--logo-font-family);
    color: var(--dark-green);
}

/* subtitle font family and color on plant infomation card */
#latinname {
    font-family: var(--logo-font-family);
    color: var(--dark-green);
}

.info-subtitle {
    color: var(--dark-green);
    font-size: 1.1rem;
    font-weight: 700;
}
#img-plant-row {
    position: fixed;
    bottom: 3rem;
    z-index: -1;
}

#commonnameslist {
    background-color: white;
}


#plant-card-container img {
    cursor: pointer;
}

/* #navBar {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
} */

#navBar button {
    color: var(--medium-green);
    font-family: var(--title-font-family);
}

/* Media query breakpoints for Extra small devices (phones, 600px and down). */

@media screen and (max-width: 600px) {
    #logo-small {
        display: none;
    }

    #navBar {
        margin-top: 3rem;
        margin-bottom: 6rem;
        text-align: center;
    }

    #navBar a {
        display: inline-block;
    }

    #homepage-spacer-top {
        display: none;
    }

    #logo-large {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 255%;
    }

    #sub-text {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        font-size: 100%;
    }

    #search-bar-main {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #search-input::placeholder {
        font-size: 80%;
    }

    #img-plant-row {
        padding-bottom: 0rem;
    }

}

/* media query breakpoints for Large devices (laptops/desktops, 992px and up),*/

@media screen and (max-width: 992px) {
    #header-top {
        margin-top: 1em;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* Marquee Style */
#marquee1{
    border: 1px solid;
    /* border-radius: 2rem; */
    color: white;
    background-color: var(--medium-green);
    width: auto;
    overflow: hidden;
}

.marquee{
    color: black;
    font-weight: bold;
    white-space: nowrap;
    clear: both;
    float: left;
   
}

.placeName {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-green);
  }
  .placeAddress , .placePhone , .placeWebsite , .placeRating {
    font-size: .9rem;
    color: var(--medium-green);
  }

#scroll {
        margin:4px, 4px;
        padding:4px;
        width: 500px;
        height: 36rem;
        overflow-y: scroll;
        text-align:justify;
    }


/* add Media Query for 1440 to fix right side gap